.navbar-default {
	background-color: #7FE5EB;
	border-color: #E7E7E7;
}

#contact-button {
	background-color: #FDE341;
	border-color: #FDE341;
}

#page1 {
	height: 650px;
	padding-top: 100px;
}

#page2 {
	padding-top: 100px;
}

#page3 {
	padding-top: 100px;

}

#page4 {
	background-color: #7FE5EB;
	height: 200px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


  .name {
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 3em;
	color: #7FE5EB;
	padding-bottom: 25px;
}

.skills {
	display: block;
	font-size: 1.5em;
	font-weight: 300;
	color: #95989A;
	font-family: 'Neuton', sans-serif;
}

.projectInfo {
	font-weight: bold;
	font-size: 1em;
}

footer {
	background-color: #7FE5EB;
	padding-top: 15px;
	padding-bottom: 15px;
}

.contactText p{
	font-size: 10pt;
}


.contact-content{
	text-align: center;
	padding-top: 20px;
}

.contact-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 2em;
	color: #ffffff;
}

.contact-content p{
	color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 20px;

}

.contact-content p a{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FDE341;
	text-decoration: underline;

}

#profile-pic img {
	display: block;
	margin: auto;
}

.headline {
	font-size: 2.5em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-top: 25px;
}

.thick-line {
	background-color: #7FE5EB;
	height: 5px;
	margin-top: -3px;

}

.thin-line {
	background-color: #7FE5EB;
	height: 2px;
	margin-top: -15px;
}

.subhead {
	font-size: 2em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FDE341;
	font-weight: bold;
	padding-top: 50px;
}

.about-text {
	font-size: 1.5em;
	font-family: 'Neuton', sans-serif;
	padding-top: 25px;
	padding-bottom: 100px;
	line-height: 1.5;
	color: #95989A;


}

#internships {
	padding-bottom: 25px;
	padding-top: 100px;
}

.img-internship {
	padding-top: 50px;
	padding-left: 10px;
}

hr.aboutHeader {
	border-top: 4px double #8c8b8b;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
hr.aboutHeader:after {
	content: "About";
	display: inline-block;
	position: relative;
	top: -40px;
	padding: 0 10px;
	background: #ffffff;
	color: #7FE5EB;
	font-size: 3em;
}

hr.projectHeader {
	border-top: 4px double #8c8b8b;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
hr.projectHeader:after {
	content: "Projects";
	display: inline-block;
	position: relative;
	top: -40px;
	padding: 0 10px;
	background: #ffffff;
	color: #7FE5EB;
	font-size: 3em;
}


hr.contactHeader {
	border-top: 4px double #8c8b8b;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
hr.contactHeader:after {
	content: "Contact";
	display: inline-block;
	position: relative;
	top: -40px;
	background: #ffffff;
	color: #7FE5EB;
	font-size: 3em;
}


#programming-languages {
	padding-top: 100px;
}

#education {
	padding-top: 150px;
}

.design-text {
	font-size: 1.50em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #00D5D4;
	padding-top: 50px;
	padding-bottom: 150px;
}

.programming-ul{
	list-style-type: none;
	font-size: 1.2em;
	color: #95989A;
	padding-top: 10px;
}

.programming-ul li p{
	padding-top: 20px;
	padding-left: 5px;
	font-size: 2em;
		color: #95989A;
	font-family: 'Neuton', sans-serif;

}

.programming-ul li p img {
	float: right;
	height: 50px;
	padding-top: 10px;
	border-right: 10px;

}

.hearts img {
	padding-top: 10px;
	padding-bottom: 5px;

}

#programming-container {
	padding-top: 50px;
}

.internship-image img {
    display : block;
    margin : auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

#appleImage img{
    display : block;
    margin : auto;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 180px;
}

#logo-image img {
    display : block;
    margin : auto;
}

.internships-header {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color:#7FE5EB;
	padding-top: 20px;
	padding-bottom: 10px;
}

.internship-thumbnail {
	border-color: #696969;
	border-width: 1px;
	border-style: solid;
	text-align: center;
}

.internship-link a{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#7FE5EB;
}

.internships-caption p{
	color: #95989A;
	font-size: 1.2em;
	font-family: 'Neuton', sans-serif;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 10px;
	line-height: 30px;
}

.internship-date {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color:#7FE5EB;
	padding-top: 20px;
	padding-bottom: 10px;

}

ul#filter { 
  font-size: 16px; 
  list-style: none; 
  margin-left: 0; 
  width: 100%;
  text-align: center;
}
ul#filter li { 
  border-right: 1px solid #dedede;
  line-height: 16px;
  margin-right: 10px;
  display: inline-block;
  padding-right: 10px;
}

ul#filter li:last-child { border-right: none; margin-right: 0; padding-right: 0; padding-bottom: 25px;}
ul#filter a { color: #999; text-decoration: none; }

ul#filter li.current a, ul#filter a:hover { text-decoration: underline; }
ul#filter li.current a { color: #00D5D4; font-weight: bold;}

ul#portfolio { 
  float: left; 
  list-style: none; 
  margin-left: 0; 
  width: 100%;
}
ul#portfolio li { 
  float: left; 
  margin: 0 10px 10px 0; 
  padding: 10px;
  width: 350px;
}

ul#portfolio a { display: block; width: 100%;}

ul#portfolio a:hover { text-decoration: none; }
ul#portfolio a:focus { text-decoration: none; outline: none;}

ul#portfolio img { 
	display: block; 
	padding-bottom: 5px;
	width: 225px;
	margin:auto;

}

.modalBody h2 {
	color: #7FE5EB;

}

.centerImage {
	text-align: center;
	padding-right: 10px;
}


#circle {
    width:  ;
    height: 225px;
    border-radius: 50%;
    margin: 0 auto; 
    border-color: #7FE5EB;
    border-width: 5px;
    border-style: solid;
    text-align: center;
    line-height: 225px;
	font-size: 20px;
	color:#FFDB00;
	font-weight: bold;
}
